<link rel="stylesheet" type="text/css" href="../css/video-js.min.css">
<script src="../js/video.min.js" type="text/javascript"></script>
 
<style>
    .video-js .vjs-big-play-button{
        top: 50%;
        left: 50%;
    }
</style>
 
 
 
 
 
<div style="width:1200px;height:675px; margin-left: 340px">
    <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="1200"
          poster="http://video-js.zencoder.com/oceans-clip.png"
          data-setup="{}">
        <source src="https://gss3.baidu.com/6LZ0ej3k1Qd3ote6lo7D0j9wehsv/tieba-smallvideo/60_19e5c76f42ae2946134ef2b9e045c090.mp4" type='video/mp4'>
    </video>


    </div>